.vs/
bin/
obj/
NpcGenerator.csproj.user
Sample Configurations/.~lock.Marcus NPCs.csv#
Sample Configurations/.~lock.Shawn NPCs.csv#
*.user
ExeCache/
Zipped/
NpcGenerator/SourceAssets/.~lock.Localization.csv#
NpcGenerator/SourceCode/AssemblyInfo.cs
